<h3>Add New List</h3>

<a href="/lists">View All Lists</a><br>
<a href="/lists/new">Add New List</a>

<form action="/lists" method="post">
  <label class="form-label" for='name'> Name to your list:</label>
  <input id = 'name' name="name" type="text" placeholder="List Name" autofocus>
  <button type="submit" class="button btn">Add List</button>
</form>
