<h3>Add New Task</h3>

<form action="/tasks" method="post">
  <label class="form-label" for='name'> Name to your TASK:</label>
  <input id = 'name' name="name" type="text" placeholder="ListName" autofocus>
  <button type="submit" class="button btn">Add TASK</button>
</form>
